@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --almostwhite: hsl(0, 0%, 98%);
    --mediumgray: hsl(0, 0%, 41%);
    --almostblack: hsl(0, 0%, 8%);
}

body {
    min-height: 100vh;
    background: var(--almostwhite);

    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
}

button:hover {
    color: var(--almostblack);
    transition: color 0.2s ease-in-out;
}
a:hover {
    color: var(--almostblack);
    transition: color 0.2s ease-in-out;
}

.header-account {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1.5rem 0;
}

.header-button {
    height: 3.25rem;
    text-align: center;
    color: var(--mediumgray);
}

.header-register {
    border: solid var(--mediumgray);
    border-radius: 12px;
    border-width: 2px;
}

a {
    color: var(--mediumgray);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}

.header-logo {
    height: 100%;
}

.header-menu {
    height: 100%;
    margin-left: auto;

}

.nav-content {
    visibility: hidden;
    position: fixed;
}

.nav-content.open {
    visibility: visible;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 1.25rem;
    min-height: 100vh;
    width: 65%;
    top: 0;
    right: 0;
    gap: 1rem;
    background-color: var(--almostwhite);

    transform: translateX(100%);
    transition: all .2s ease-in-out;
}

.nav-content.open .nav-bar {
    transform: translateX(0);
}

.nav-bar .header-menu {
    padding-bottom: 2rem;
}

.nav-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    transition: all 0.2s ease-in-out;
}

.nav-content.open .nav-overlay {
    background-color: hsla(0, 0%, 8%, 0.7); 
}

.header-nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 0.25rem;
}

.header-accordion {
    color: var(--mediumgray);
}
.header-accordion.open {
    color: var(--almostblack);
}

.header-accordion img{
    padding-left: 0.75rem;
}

.header-accordion.open+.header-accordion-content {
    max-height: 250px;
}

.header-accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.accordion-content-links {
    display: flex;
    flex-direction: column;
    padding: 1.75rem 0 0.5rem 1.5rem;
    gap: 1.5rem;
}

.accordion-content-links a {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.accordion-content-links img {
    padding-right: 1rem;
    width: 2.25rem;
} 

.header-accordion.open .accordion-arrow {
    content: url("images/icon-arrow-up.svg");
}

.hero-image {
    width: 100%;
}

.main-section {
    padding: 2rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
}

.main-focus {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.main-header {
    font-size: 34px;
    font-weight: 700;
}

.main-body {
    color: var(--mediumgray);
    font-size: 18px;
    line-height: 1.5rem;
}

.main-button {
    background-color: var(--almostblack);
    border: solid 2px var(--almostblack);
    color: var(--almostwhite);
    height: 3.5rem;
    width: 9rem;
    text-align: center;
    border-radius: 12px;

    transition: all 0.15s ease-out;
}

.main-button:hover {
    background-color: var(--almostwhite);
    color: var(--almostblack);
}

.main-clients {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.25rem;
}

.main-clients img {
    max-width: 4.5rem;
    max-height: 1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 900px) {
    #sidebar-open, #sidebar-close, .nav-overlay, .nav-content, .nav-bar {
        all: initial;
        font-family: 'Epilogue', sans-serif;
        font-weight: 500;
        font-size: 18px;
    }
    #sidebar-open, #sidebar-close, .nav-overlay {
        display: none;
        transition: none;
    }
    header {
        align-items: center;
    }
    .nav-content {
        width: 100%;
        padding-left: 4rem;
    }
    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .header-nav {
        flex-direction: row;
        align-items: center;
        gap: 2.25rem;
    }
    .header-account {
        flex-direction: row;
        padding: 0;
        gap: 2.75rem;
    }
    .header-register {
        height: 2.75rem;
        width: 8.25rem;
        padding: 0;
    }
    .header-accordion-content {
        position: absolute;
        max-height: inherit;
        visibility: hidden;
        padding: 1.5rem;

        background-color: var(--almostwhite);
        border-radius: 12px;
        box-shadow: 0 0 32px 2px hsla(0, 0%, 8%, 0.15);
        transform: translateY(1rem);
        opacity: 0;
        transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    }
    .accordion-content-links {
        padding: 0;
    }
    .features-accordion-content {
        transform: translateX(-45%) translateY(1rem);
    }
    .header-accordion img{
        padding-left: 0.25rem;
    }
    .header-accordion.open+.header-accordion-content {
        visibility: visible;
        opacity: 100%;
    }
    .header-logo {
        width: 6.75rem;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding: 2rem 4rem;
        gap: 10%;
        margin: auto;
        max-width: 79rem;
    }
    .main-section {
        justify-content: space-between;
        padding: 0;
        height: 100%;
        text-align: left;
        align-items: start;
    }
    .main-header {
        font-size: 76px;
    }
    .main-body {
        padding-right: 2rem;
    }
    .main-focus {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        align-items: start;
        gap: 0;
    }
    .main-clients {
        margin-top: 0;
    }
    .main-clients img {
        max-width: 6rem;
        max-height: 2.15rem;
    }
    .hero-image {
        width: 100%;
        height: auto;
    }
    .header-button {
        height: 3.25rem;
    }
   
}
